@font-face {
  font-family: "iconfont"; /* Project id 3618691 */
  src: url('iconfont.woff2?t=1662913047859') format('woff2'),
       url('iconfont.woff?t=1662913047859') format('woff'),
       url('iconfont.ttf?t=1662913047859') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stodaohangdizhi:before {
  content: "\e65e";
}

.icon-stochuangzuo:before {
  content: "\e8af";
}

.icon-stofenxiang:before {
  content: "\e8b0";
}

.icon-stoshezhi:before {
  content: "\e8be";
}

.icon-stoaixin1:before {
  content: "\e8c4";
}

.icon-stochuangzuo1:before {
  content: "\e8ca";
}

.icon-stoaixin:before {
  content: "\e8ab";
}

.icon-stochenggong:before {
  content: "\e8ad";
}

.icon-stodianzan:before {
  content: "\e8ae";
}

.icon-stoshanchu:before {
  content: "\e8b6";
}

.icon-stoshangchuan:before {
  content: "\e8b7";
}

.icon-stoshibai:before {
  content: "\e8b8";
}

.icon-stoshoucang:before {
  content: "\e8b9";
}

.icon-stoshuaxin:before {
  content: "\e8ba";
}

.icon-stotaolunqu:before {
  content: "\e8bb";
}

.icon-stoweibo:before {
  content: "\e8bc";
}

.icon-stoweixin:before {
  content: "\e8bd";
}

.icon-stoyanjing:before {
  content: "\e8bf";
}

.icon-stozengjia:before {
  content: "\e8c0";
}

.icon-stodianzan1:before {
  content: "\e8c3";
}

.icon-stopaper:before {
  content: "\e60a";
}

.icon-stoarrowup:before {
  content: "\e606";
}

.icon-stoarrowdown:before {
  content: "\e608";
}

.icon-stomenu:before {
  content: "\e614";
}

.icon-stoarrowleft:before {
  content: "\e61b";
}

.icon-stoarrowright:before {
  content: "\e61c";
}

.icon-stolocaloffer:before {
  content: "\e61d";
}

.icon-stohome:before {
  content: "\e621";
}

.icon-stomenu2:before {
  content: "\e622";
}

.icon-stoontimeshipment:before {
  content: "\e75a";
}

.icon-stoauthority:before {
  content: "\e6b8";
}

.icon-stoice-cream:before {
  content: "\e6ff";
}

.icon-stobussiness-man:before {
  content: "\e6ef";
}

.icon-stosearch:before {
  content: "\e7b3";
}

